.App-logo {
  animation: spin infinite 2s ease;
  height: auto;
  max-height: 280px;
}
.devf {
  margin-top:50px;
  width: 150px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgba(202,13,102,1);
}

.devf img {
  width: 60%;
  margin: 0 auto;
}

.App-header {
  background-color: rgba(202,13,102,1);
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
